body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  flex-grow: 1;
  max-height: 10%;
  min-height: 55px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

#navbar div {
  padding: 5px;
}

#colors-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#colors-list div {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 40px;
}

/* colors */
.red {background-color: #CF000F;}
.orange {background-color: #EB6B56;}
.yellow {background-color: #FFC153;}
.green {background-color: #27AE60;}
.blue {background-color: #47B39D;}
.violet {background-color: #462446;}
.black {background-color: #000000;}
.white {background-color: #ffffff;}

.selected {
  border: 2px solid #222;
}
